body{
  /* background-color: tan; */
  /* padding: 10px; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(1, 26, 46);
  align-items: center;
  padding: 10px;
}

.main{
  width: fit-content;
  background-color: rgba(6, 245, 245, 0.986);
  border-radius: 20px;
  padding: 20px;
  border: 10px solid rgb(89, 89, 250)
}

.income{
 color: red;
 text-align: center;
 margin: 0 auto;
}


.th1{
  color: green;
  background-color: rgb(223, 211, 235);
  margin: 5px;
  border: 2px solid rgb(52, 4, 85);
  border-radius: 5px;
  width: 200px;
  height: 70px;
  
}

.th2{
  color: red;
  background-color: rgb(223, 211, 235);
  margin: 5px;
  border: 2px solid rgb(52, 4, 85);
  border-radius: 5px;
  width: 200px;
  height: 70px;
}


.heading{
  text-align: center;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button1 {
  width: 100%;
  background-color: #4CAF50;
  color: rgb(7, 0, 0);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
}

.button1:hover {
  background-color: #45a049;
}

.List{
  display:flex;
  /* justify-content: space-between; */
  border: 2px solid gray;
  border-radius: 5px;
  width: 100%;
  padding: 2px;
  margin-bottom: 5px;
  background-color: rgba(8, 209, 165, 0.836);
}

.itemAmount{
  margin-left: auto;
  margin-right: 5px;
}